/*网页的全局样式 解决兼容问题*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  font-family: "宋体";
  font-size: 12px;
  color: #000000;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}
input,
select,
textarea {
  vertical-align: middle;
}
img {
  border: none;
  vertical-align: middle;
}
a:hover {
  color: #009999;
}
.clear {
  clear: both;
  height: 0px;
  width: 0px;
  overflow: hidden;
}
em,
i {
  font-style: normal;
}
button {
  cursor: pointer;
}
a {
  color: #666;
  text-decoration: none;
}
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}
