.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    width: 100%;
    height: 50px;
    background-color: #7a65eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header_l {
      .title {
        color: #f9f9f9;
      }
      margin-left: 3%;
    }
    .header_r {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3%;
      color: #f9f9f9;
      .anticon {
        margin: 0 7px;
      }
    }
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    .main_l {
      height: 100%;
      width: 160px;
    }
    .main_r {
      height: 100%;
      flex: 1;
      background-color: #f9f9f9;
    }
  }
}
