.layout {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout header {
  width: 100%;
  height: 50px;
  background-color: #7a65eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout header .header_l {
  margin-left: 3%;
}

.layout header .header_l .title {
  color: #f9f9f9;
}

.layout header .header_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3%;
  color: #f9f9f9;
}

.layout header .header_r .anticon {
  margin: 0 7px;
}

.layout main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout main .main_l {
  height: 100%;
  width: 160px;
}

.layout main .main_r {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f9f9f9;
}
/*# sourceMappingURL=layout.css.map */