.login {
  width: 100%;
  height: 100%;
  background-color: #e4e0f5;
  position: relative;
}

.login .ant-card {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 300px;
}

.login .ant-card .ant-card-head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7a65eb;
}

.login .ant-card .login-form-button {
  width: 80%;
  margin: auto;
  display: block;
}
/*# sourceMappingURL=login.css.map */