.login {
  width: 100%;
  height: 100%;
  background-color: #e4e0f5;
  position: relative;
  .ant-card {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    .ant-card-head-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7a65eb;
    }
    .login-form-button {
      width: 80%;
      margin: auto;
      display: block;
    }
  }
}
